.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
diogo-35-ftr.css
diogo-Jost.css
diogo-arquerusgrot.css
diogo-billcorp.css
diogo-capitana.css
diogo-facundo.css
diogo-intervogue.css
diogo-intro.css
diogo-josefin-sans.css
diogo-matteo.css
diogo-morn.css
diogo-natom-pro.css
diogo-point.css
diogo-provan.css
diogo-sofia.css
diogo-steagal.css
